// Alert Component Stylesheet
// ========================================

.alert {
  @include alert;

  &--error {
    background-color: $red;
  }

  &--success {
    background-color: $green;
  }

  &--notification {
    background-color: $lightpurple;
  }
}
