// Colors Variables Settings Stylesheet
// ========================================

$purple: #4C26F2;
$yellow: #f6dd62;
$lightpurple: #7567f5;
$green: #92cc75;
$red: #cc7c75;
$gray: #b5b3b2;

// Main Palette List
$colors: (
  'purple':    $purple,
  'yellow':     $yellow,
  'lightpurple':    $lightpurple,
  'green':    $green,
  'red':    $red,
  'gray':    $gray,
);
