// Responsive Variables Settings Stylesheet
// ========================================

$small: '(max-width: 675px)';
$medium: '(max-width: 789px)';
$large: '(min-width: 790px)';
$extra-large: '(min-width: 1280px)';
