// Responsive Variables Settings Stylesheet
// ========================================
$xsmall: '(min-width: 488px)';
$small: '(min-width: 530px)';
$medium: '(min-width: 790px)';
$large: '(min-width: 1100px)';
