// Spacers Variables Settings Stylesheet
// ========================================

// Variables
$reset-0:     0;

$spacer-xxl: 50px;
$spacer-xlg: 40px;
$spacer-lg:  25px;
$spacer-m:   15px;
$spacer-s:   10px;
$spacer-xs:  5px;
