
body {
  background-color: white;
}

.header {

}

.nav {
  background-color: pink;
  display: inline-flex;
  padding: 1.3rem 0;
  text-align: center;

    &__listItem {
      color: $purple;
      font-size: 1.5rem;
      font-family: $primary-font;
    }
}

.main {
  padding: $spacer-m;

  &__section {
    margin: $spacer-lg $reset-0;

    &--index {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: $spacer-m;
    }
  }
}

.item-container {
    margin: $spacer-m $reset-0;
}

.footer {

}
