
body {
  background-color: white;
}

.mainheader {
  display: flex;
  align-items: center;
}

.mainheader p {
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
  padding: $spacer-m;
  color: $purple;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: $primary-font;
}

.logo img {
  display: inline-block;
  width: 150px;
  margin-left: $spacer-m;
}

// Desktop Nav //

.nav {
  display: flex;
  justify-content: flex-end;

    &__listItem {
      display: inline;
      padding: $spacer-m;
      color: $purple;
      font-size: 1.5rem;
      font-weight: bold;
      font-family: $primary-font;
    }
}

// END Desktop Nav //

// Mobile Nav Styling //

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:$spacer-lg;
  color:$purple;
  border:0;
  font-size:3em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding: $spacer-lg;
  color:$purple;
  border:0;
  font-size:4em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.mobilemenu{z-index:1000000; font-family: $primary-font; font-weight:bold; width:100%; background:$yellow;  position:absolute; text-align:center; font-size:12px;}
.mobilemenu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.mobilemenu li {display: block;  color: $purple; font-size: 1.5rem; padding:$spacer-m; border-bottom:#dddddd 1px solid;}
.mobilemenu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.mobilemenu ul li a { text-decoration:none;  margin: 0px; color:$purple;}
.mobilemenu ul li a:hover {  color: #666; text-decoration:none;}
.mobilemenu a{text-decoration:none; color:#666;}
.mobilemenu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white;
  margin-top:5px;
  margin:0 auto;
}

// END Mobile Nav Styling //

.main {
  padding: $spacer-m;
  background-color: $lightpurple;
  height: 80vh;

  &__section {
    margin: $spacer-lg $reset-0;
    background-color: $lightpurple;

    &--index {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $spacer-xxl
    }
  }
}

// Home Page Form //

form {
  align-items: center;
  text-align: center;
}

input[type="submit"] {
  font-weight: bold;
  background: $yellow;
  color: $purple;
  font-size: 1.5rem;
  width: 40%;
  max-width: 400px;
  border-radius: 10px;
  padding: $spacer-xs;

    &:hover {
          color: $yellow;
          background-color: $purple;
      }
}

input[type="tel"] {
  width: 50%;
  max-width: 500px;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: $spacer-xs;
  text-align: center;
}

input[type="tel"]:focus {
  border: 1px solid black;
}

// END Home Page Form //

.item-container {
    margin: $spacer-m $reset-0;
}

.footer {

}

// Temporary Spot for Media Queries Because Mixins didn't work //

@media only screen and (min-width: 790px) {
  .hamburger, .cross {
      display: none;
  }
}

 @media only screen and (max-width: 789px) {
  .nav {
      display: none;
  }

.main__section--index h1 {
  font-size: 2rem;
  margin: $spacer-xs;
  }

  .main {
    padding: $spacer-xs;

    &__section {
      margin: $spacer-xxl $reset-0;

      &--index {
        padding: $spacer-s
      }
    }
  }

  input[type="submit"] {
    font-size: 1rem;
    width: 60%;
    padding: $spacer-m;
    margin-top: $spacer-s;
  }

  input[type="tel"] {
    width: 55%;
    font-size: 1rem;
    padding: $spacer-m;
  }
}
