
h1 {
  font-family: $primary-font;
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: $primary-font;
  font-weight: bold;
  font-size: 3rem;
  color: $lightpurple;
}

h3 {
  font-family: $primary-font;
  font-weight: bold;
  font-size: 2.5rem;
}

h4 {
  font-family: $primary-font;
  font-size: 2.5rem;
}

h5 {
  font-family: $primary-font;
  font-size: 2rem;
}

h6 {
  font-family: $primary-font;
  font-size: 1.5rem;
}

p {
  font-family: $secondary-font;
  font-size: 1rem;
}

a {
  font-family: $secondary-font;
  font-size: 1rem;
  font-weight: bold;
  color: $purple;
  text-decoration: none;
}

a:hover {
  background-color: $yellow;
  color: $purple;
}
