// Alert Mixin Settings Stylesheet
// ========================================

@mixin alert {
  background-color: $lightpurple;
  width: 50%;
  padding: 1%;
  margin-bottom: 5%;
  font-family: $primary-font;
  padding: $spacer-s;
  color: $yellow;
}
