// Background Mixin Settings Stylesheet
// ========================================

@each $color in $colors {
  $name:          nth($color, 1);
  $background:    nth($color, 2);

  .background--#{$name} {
    background-color: $lightpurple;
  }
}
